/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
}

body {
    font-family: open-sans, sans-serif;
}

/* GENERALS */

img {
    max-width:100%;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER */

.box-head {
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: px;
}

.menu {
    align-items: center;
    gap: 20px;
}

.logo {
    width: 127px;
    height: 25px;
}

.button {
    padding: 7px 10px;
    background-color: rgb(2,97,255);
    color: white;
    border: none;
}

/* MAIN */

.top-page {
    height: 800px;
    position: relative;
}

.special-layout {
    min-height: 725px;
    background-color: rgb(180,208,231);
}

h1 {
    font-size: 5.8em;
    padding-top: 60px;
    margin-bottom: 50px;
}

.button-start {
    margin: 50px 0;
}

.start-image {
    width: 70%;
    float: right;
}


/* Section prices */

.prices {
    background-color: lightgrey;
    min-height: 700px;
}