/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
}

body {
    font-family: open-sans, sans-serif;
}

/* GENERALS */

img {
    max-width:100%;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER */

.box-head {
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: px;
}

.menu {
    align-items: center;
    gap: 20px;
}

.logo {
    width: 127px;
    height: 25px;
}

.button {
    padding: 7px 10px;
    background-color: rgb(2,97,255);
    color: white;
    border: none;
}

/* MAIN */

.top-page {
    min-height: 900px;
    position: relative;
}

.special-layout {
    min-height: 725px;
    background-color: rgb(180,208,231);
}

h1 {
    font-size: 5.8em;
    padding-top: 60px;
    margin-bottom: 50px;
}

.button-start {
    margin: 50px 0;
}

.start-image {
    width: 70%;
    float: right;
}


/* Section prices */

.prices {
    background-color: lightgrey;
}

.box-prices {
    max-width: 1000px;
    min-height: 700px;
    margin: 0 auto;
}

.container-prices{
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex-basis: calc(100% / 3 - 40px);
    border: 1px solid;
    flex-grow: 1;
}

.col-title {
    text-align: center;
    margin: 10px 0 10px 0;
}

.col-content div{
    margin: 30px 0 30px 30px;
}

.button-prova {
    padding: 15px 40px;
    margin: 0 auto;
}

.check {
    color: blue;
}
